<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>MeowReaDer v1.0.2</title>
    <link rel="stylesheet" href="static/css/basic.css">
    <link rel="stylesheet" href="static/css/index.css">
    <link rel="stylesheet" href="node_modules/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="static/semantic-ui/semantic.min.css">
    <link rel="stylesheet" href="static/fontawesome/web-fonts-with-css/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="static/css/foundation.min.css">
    <link rel="stylesheet" href="static/mermaid/mermaid.css">
</head>

<body>
    <div id="editor">
        <div class="container">
            <el-menu id="sideMenu" v-loading="loading">
                <el-submenu v-if="dictorySelected!=''" index="1">
                    <template slot="title">
                        <i class="fas fa-folder" style="margin-right: 10px;"></i>
                        <span>{{ splitFolderName | fileLenFormat }}</span>
                    </template>
                    <el-menu-item :index="index" v-for="(file, index) in splitFileList" @click="showMDContent(index)" style="width: 100%;">
                        <i class="el-icon-document"></i>
                        <span slot="title">{{ file | fileNameFormat }}</span>
                    </el-menu-item>
                </el-submenu>
            </el-menu>
            <el-row id="main">
                <div id="header">
                    <el-dropdown @command="handleCommand">
                        <i class="el-icon-setting" style="margin-right: 15px"></i>
                        <el-dropdown-menu slot="dropdown">
                            <el-dropdown-item command="a">資料夾位置</el-dropdown-item>
                            <el-dropdown-item command="b">軟體版本</el-dropdown-item>
                        </el-dropdown-menu>
                    </el-dropdown>
                </div>
                <el-col :span="22" :offset="1" style="margin-top: 25px;">
                    <div v-html="compiledMarkdown"></div>
                </el-col>
            </el-row>
        </div>

        <el-dialog id="versionDialog" title="軟體版本" :visible.sync="dialogVersionVisible">
            <p>Version： <strong>1.0.1</strong></p>
            <p>Programmer： <strong>music1353 蘇靖軒</strong></p>
            <p>Copyright © 2018 MeowReaDer. All rights reserved</p>
        </el-dialog>

    </div>
    <script src="static/vue/vue.js"></script>
    <script src="static/element-ui/index.js"></script>
<!--
    <script src="https://unpkg.com/marked@0.3.6"></script>
    <script src="https://unpkg.com/lodash@4.16.0"></script>
-->
    <script src="static/js/jquery.js"></script>
    <script>
        if (typeof module === 'object') {
            window.jQuery = window.$ = module.exports;
        };

    </script>
    <script src="node_modules/element-ui/lib/index.js"></script>
    <script type="text/javascript" src="static/mathjax/mathjax.js"></script>
    <script type="text/javascript" src="static/mermaid/mermaid.min.js"></script>
    <script>
        var showdown = require('showdown') // md compiler
        showdown.setFlavor('github');

        // tables extensions
        showdown.extension('semantic-tables', function() {
            return [{
                type: "output",
                filter: function(html, converter, options) {
                    // parse the html string
                    var liveHtml = $('<div></div>').html(html);
                    $('table', liveHtml).each(function() {
                        var table = $(this);
                        // table bootstrap classes
                        table.addClass('ui selectable celled table')
                    });
                    return liveHtml.html();
                }
            }];
        });

        // LaTeX extensions
        showdown.extension('mathjax', function() {
            return [{
                type: 'lang',
                filter: function(text) {
                    $.getScript('https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML&delayStartupUntil=configured', function() {
                        MathJax.Hub.Config({
                            tex2jax: {
                                inlineMath: [
                                    ["$", "$"]
                                ],
                                displayMath: [
                                    ["$$", "$$"]
                                ]
                            }
                        });
                        MathJax.Hub.Configured();
                        MathJax.Hub.Queue(['Typeset', MathJax.Hub]);
                    });

                    return text;
                }
            }];
        });

        var converter = new showdown.Converter({
            extensions: ['semantic-tables', 'mathjax']
        })

        var fs = require('fs')
        var path = require('path')
        var rd = require('rd')

        //        window.onload = function() {
        //            var oBox = document.getElementById('sideMenu');
        //            var oMain = document.getElementById('main');
        //            var a = 0;
        //            oBox.onmousedown = function(ev) {
        //                var oEvent = ev || event;
        //                var X = oEvent.clientX;
        //                var Y = oEvent.clientY;
        //                var oBoxW = oBox.offsetWidth;
        //                var oBoxH = oBox.offsetHeight;
        //                var oBoxL = oBox.offsetLeft;
        //                var oMainW = oMain.offsetWidth;
        //                
        //                if (X <
        //                    (oBox.offsetLeft + 5)) {
        //                    a = 'left';
        //                } else if (X > (oBox.offsetLeft + oBox.offsetWidth - 5)) {
        //                    a = 'right';
        //                }
        //                if (Y <
        //                    (oBox.offsetTop + 5)) {
        //                    a = 'top';
        //                } else if (Y > (oBox.offsetTop + oBoxH - 5)) {
        //                    a = 'bottom';
        //                }
        //                document.onmousemove = function(ev) {
        //                    var oEvent = ev || event;
        //                    var XX = oEvent.clientX;
        //                    var YY = oEvent.clientY;
        //                    if (a == 'right') {
        //                        oBox.style.width = oBoxW + (XX - X) + 'px';
        //                        // oMain.style.width = oMainW - (XX - X) + 'px';
        //                        console.log(oBox.style.width);
        //                        // console.log(oMain.style.width);
        //                    } else if (a == 'left') {
        //                        oBox.style.width = oBoxW + (X - XX) + 'px';
        //                        oBox.style.left = XX - X + oBoxL - 5 + 'px';
        //                    }
        //                };
        //                document.onmouseup = function() {
        //                    document.onmousedown = null;
        //                    document.onmousemove = null;
        //                };
        //            };
        //        };

        new Vue({
            el: '#editor',
            data() {
                return {
                    input: '# hello',
                    loading: false,
                    fileList: [],
                    dictorySelected: '',
                    dialogVersionVisible: false
                }
            },
            computed: {
                compiledMarkdown() {
                    return converter.makeHtml(this.input)
                },
                splitFolderName() {
                    return this.dictorySelected.split("/").pop()
                },
                splitFileList() {
                    var splitFileList = [];
                    this.fileList.forEach((file) => {
                        var fName = file.split("/").pop();
                        splitFileList.push(fName);
                    });
                    return splitFileList
                }
            },
            filters: {
                fileLenFormat(value) {
                    if (value.length > 10) {
                        return value.substring(0, 11) + '...'
                    } else {
                        return value
                    }
                },
                fileNameFormat(value) {
                    return value.split('.')[0];
                }
            },
            methods: {
                handleCommand(command) {
                    if (command == "a") {
                        this.showFileDialog();
                    } else if (command == "b") {
                        this.dialogVersionVisible = true;
                    }
                },
                showFileDialog() {
                    const dialog = require('electron').remote.dialog
                    dialog.showOpenDialog({
                        properties: ['openDirectory']
                    }, (filename) => {
                        if (filename.length === 1) {
                            this.dictorySelected = filename[0]
                            this.selectMDFiles(this.dictorySelected)
                        }
                    })
                },
                selectMDFiles(filePath) {
                    this.fileList = [];
                    var self = this;
                    this.loading = true;
                    rd.eachFileFilterSync(filePath, /\.md$/, function(f, s) {
                        self.fileList.push(f);
                    });
                    this.loading = false;
                },
                showMDContent(index) {
                    fs.readFile(this.fileList[index], (err, data) => {
                        if (err) {
                            throw err;
                        } else {
                            this.input = data.toString();
                        }
                    });
                },
            }
        })

    </script>
    <script>
        const {
            remote
        } = require('electron')
        const {
            Menu,
            MenuItem
        } = remote

        const menu = new Menu()
        menu.append(new MenuItem({
            label: 'MenuItem1',
            click() {
                console.log('item 1 clicked')
            }
        }))
        menu.append(new MenuItem({
            type: 'separator'
        }))
        menu.append(new MenuItem({
            label: 'MenuItem2',
            type: 'checkbox',
            checked: true
        }))

        window.addEventListener('contextmenu', (e) => {
            e.preventDefault()
            menu.popup(remote.getCurrentWindow())
        }, false)

    </script>
    <script>
        // You can also require other files to run in this process
        require('./renderer.js')

    </script>
</body>

</html>
